body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #50312f;
}

.dropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,  -50%);
}

button {
position: relative;
width: 200px; 
height: 60px;
font-size: 24px;
background: #cb0000;
border: none;
box-shadow: none;
outline: none;
cursor: pointer;
color: #fff;
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #3f6c45;
  transform-origin: top; 
  transform: perspective(1000px) rotateX(-90deg);
  transition: 0.5s;
}

ul.active {
  transform: perspective(1000px) rotateX(0deg);
}

ul li {
  list-style: none;
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: left;
  background: #e4ea8c;
  color: #6B6B6B;
  border-bottom: 1px solid #50312f;
  transition: 0.5s;
}

ul li a:hover {
  background: #3f6c45;
  color: #fff;
}

.show {
  display: block;
}